{% extends "base.html" %}

{% block headtitle %}
{{ page_title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class ="text-lg font-medium">{{ page_title }}</h1>
    <h2>You have {{ page_visit_count }} visits to this page, and its percentage is {{ page_visit_percentage | floatformat:2}}%.</h2>
    <h2>You have {{ total_visit_count }} visits overall.</h2>
    <p>
        Hello again, this is from home.html
    </p>
    {% include "snippets/welcome-user-msg.html" %}
{% endblock %}
